/*Css Commun*/


html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.menu {
  position: absolute;
  left: 2%;
  top: 22%;
}
/*Css Florent*/
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  16% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  33% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
.menu img {
  width: 24px;
  height: 24px;
}
.menu li {
  display: inline;
  padding-right: 10px;
  box-sizing: border-box;
}
.menu li a {
  color: black;
}
li a {
  text-decoration: none;
}
.menu li:hover {
  border-bottom: 2px blue solid;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  text-align: center;
  width: 100%;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  display: inline;
  padding-right: 5px;
  font-size: 14px;
  color: white;
}
ul li a {
  color: white;
}


/*Css Anthony*/
