
/*Css Commun*/

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
header {
  position: fixed;
  padding-bottom: 5px;
  top: 0;
  left: 0;
  background-color: white;
  color: #009E99;
  width: 100%;
  z-index: 1000;
}

.menu img {
  height: 60px;
  width: auto;
  margin-left: 20px;
  margin-top: 10px;
}


.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #009E99;
}

h1 {
  height: 60%;
  position: absolute;
  width: 45%;
  left: 5%;
  top: 30%;
  color: white;
  font-size: 40px;
}

.connectForm {
  float: right;
}

.menu {
  float: left;
}
.menu li {
  list-style-type: none;
}

.insForm {
  margin-top: 80px;
  padding: 10px;
  position: absolute;
  background: linear-gradient(to bottom right, #011D65, #009E99);
  color: #009E99;
  border: 1px #009E99 solid;
  width: 293px;
  right: 10%;
  border-radius: 5%;
  top: 32%;
  padding-right: 18px;
  height: 254px;
}
#password {
  width: 55%;
}

.insForm p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#inscription {
  margin-left: 52%;
  color: grey;
  background-color: #FFA900;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px grey solid;
  height: 46px;
  font-weight: bold;
}
#buttonConnect {
  float:right;
  color: grey;
  background-color: #FFA900;
  height: 46px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px grey solid;
  font-weight: bold;
}
.inputext {
  width: 100%;
}
input {
  margin: 3px;
}
input[type=text], input[type=password] {
  border-radius: 5%;
  height: 25px;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  text-align: center;
  width: 100%;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  display: inline;
  padding-right: 5px;
  font-size: 14px;
  color: white;
}
ul li a {
  color: white;
}


/*Css Anthony*/
