html, body {
  display: inline-block;
}
.tweet {
  background-color: #F0FAF9;
  border: solid 2px black;
  border-radius: 5px;
  width: 500px;
  height: 170px;
  list-style-type: none;
  color: #009E99;
  position: relative;
}
.info {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 55px;
  position: relative;
}
.postt {
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.chiffre {
  margin: 0;
  text-align: center;
  bottom: 2px;
  height: 25px;
  vertical-align: bottom;
  text-align: right;
  list-style-position: inside;
}
.profils {
  width: 50px;
  height: 50px;
  float: left;
}
.pseudo {
  bottom: 50px;
  position: absolute;
  bottom: 5%;
  left:10%
}
.like {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20%
}
.vue {
  width: 20px;
  height: 20px;

  position: absolute;
  right: 15%
}
.retweet {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10%;
}
.compteur {
  width: 20px;
  height: 20px;

  position: absolute;
  right:5%;

}
