

nav {

  padding-bottom: 5px;
  top: 0;
  background-color: white;
  color: black;
  list-style-type: none;

}

.menu img {
  width: 24px;
  height: 24px;
}
.menu li {
  display: inline;
  padding-right: 10px;
  box-sizing: border-box;
}
.menu li a {
  color: black;
}
li a {
  text-decoration: none;
}
.menu li:hover {
  border-bottom: 2px blue solid;
}

.container {
  
}


.membre, .paonPost, .textArea {
  background-color: white;
  border: 1px black solid;
  border-radius: 5%;
}
.membre {
  font-size: 14px;
  padding-right: 18px;
}

.paonPost {
  padding-right: 18px;
}

.textArea {
  padding-right: 18px;
}


footer {
}




/*html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display : table;
  width: 100%;
}

nav {
  position: fixed;
  padding-bottom: 5px;
  top: 0;
  background-color: white;
  color: black;
  list-style-type: none;
  width: 100%;
  height: 40px;
}
.menu {
  position: absolute;
  left: 2%;
  top: 22%;
}
.menu img {
  width: 24px;
  height: 24px;
}
.menu li {
  display: inline;
  padding-right: 10px;
  box-sizing: border-box;
}
.menu li a {
  color: black;
}
li a {
  text-decoration: none;
}
.menu li:hover {
  border-bottom: 2px blue solid;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  background-color: black;
}


.membre, .paonPost, .textArea {
  padding: 10px;
  position: absolute;
  background-color: white;
  border: 1px black solid;
  width: 30%;

  border-radius: 5%;
}
.membre {
  top: 10%;
  left: 5%;
  font-size: 14px;
  padding-right: 18px;
  height: 17%;
  width: 30%;
}

.paonPost {
  top: 10%;
  padding-right: 18px;
  height: 60%;
  right: 5%;
  width: 50%;
}

.textArea {
  top: 75%;
  padding-right: 18px;
  height: 30%;
  right: 5%;
  width: 50%;
}


footer {
  clear: both;
  display : table-row;
  height: 100px;
}*/
