html body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
  background-image: url("/img/Paon-5.jpg")
}
header {
  top: 0;
  background: linear-gradient(to right, #011D65, #0FABF8);
  color: black;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  color: black;
  list-style-type: none;
  padding-bottom: 5px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}


.menu img {
  width: 24px;
  height: 24px;
}
.menu li {
  display: inline;
  padding-right: 10px;
  box-sizing: border-box;
}
.menu li a {
  color: black;
}
li a {
  text-decoration: none;
}
.menu li:hover {
  border-bottom: 2px blue solid;
}

.container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}
#buttonPaon {
  color: #292f33;
  background-color: #e99110;
  border-radius: 10%;
  box-sizing: border-box;
  border: 1px #ec8b11 solid;
  font-weight: bold;
  background-image: linear-gradient(#ffcc4d, #e99110);
}


textarea {
  border-radius: 20px;
}

.textArea {
  background: linear-gradient(to right, #011D65, #0FABF8);
  border: 1px black solid;
  border-radius: 5%;
  text-align: center;
  margin-bottom: 10px;
  padding-right: 18px;
}


.paonPost {
  padding-right: 18px;
}



.paonee{
  background-color: white;
  border: solid 3px black;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
